{% extends "base.html" %}
{% block content %}
<h1>Task Details</h1>

<ul class="list-group">
  <li class="list-group-item">Id: {{object.id}}</li>
  <li class="list-group-item">Status: {{object.get_status_display}}</li>
  <li class="list-group-item">Assigned to: {{object.assigned_to.username|default:"not assigned"}}</li>
  <li class="list-group-item">Created: {{object.created_by.username }} @ {{ object.created|date}}</li>
  <li class="list-group-item">Modified: {{object.modified_by.username }} @ {{ object.modified|date:"Y/m/d H:i"}}</li>
  <li class="list-group-item">
    <a href="{% url 'task_update' task.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'task_list' %}" class="btn btn-warning">Back</a>
  </li>
</ul>
{% endblock %}